<div ng-include src=" 'views/user_header.html' "></div>
<div ng-include src=" 'views/warning.html' "></div>


<div class="container">
    <div class="row starter-template">
        <h3>个人信息:</h3>
        <div class="col-md-5">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" minlength="1" maxlength="24" placeholder="昵称" ng-model="nickname">
                </div>
                <div class="form-group">
                    <textarea row="3" class="form-control" maxlength="140" placeholder="个性签名" ng-model="description"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-large" ng-click="update_account()">保存</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row starter-template">
        <h3>修改密码:</h3>
        <div class="col-md-5">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <input type="password" class="form-control" minlength="6" maxlength="24" ng-model="origin_pwd" placeholder="原密码">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" minlength="6" maxlength="24" ng-model="pwd" placeholder="输入新密码">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" minlength="6" maxlength="24" ng-model="pwd2" placeholder="再次输入新密码">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-large" ng-click="update_password()">确认修改</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.container -->
