// navbar
div(ng-include="", src=" 'views/user_header.html' ")
div(ng-include="", src=" 'views/flash.html' ")
// #navbar

// dashboard
.container.dashboard
  .row
    .div.col-md-6.col-md-offset-3
      .h1 控制台
      .h3 未完工...
// #dashboard


