<div ng-include src=" 'views/user_header.html' "></div>
<div ng-include src=" 'views/warning.html' "></div>

<div class="container">
  <div class="row starter-template">
    <h3>团队信息:</h3>
    <div class="col-md-5">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <input type="text" class="form-control" minlength="1" maxlength="24" placeholder="团队名称" ng-model="group_name">
        </div>
        <div class="form-group">
          <textarea class="form-control" maxlength="140" placeholder="团队简介" ng-model="group_description"></textarea>
        </div>
        <div class="form-group" ng-show="isOwner">
          <button type="submit" class="btn btn-primary btn-large" ng-click="update_group()">保存</button>
        </div>
      </form>
    </div>
  </div>
  <!-- 团队成员start -->
  <div class="row starter-template">
    <h3>团队成员:</h3>
    <div class="col-md-5">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>成员昵称</th>
          <th>成员个性签名</th>
          <th>删除成员</th>
        </tr>
        </thead>
        <tbody>
        <tr >
          <td>{{ user.nickname }}</td>
          <td>{{ user.description }}</td>
          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalDelete">删除这个成员</button></td>
        </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">添加成员</button>
    </div>
  </div>
  <!-- 团队成员end -->
  <!-- 订单start  -->
  <div class="row starter-template">
    <h3>订单列表:</h3>
    <div class="col-md-5">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>付款人</th>
          <th>总金额</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr >
          <td>张三</td>
          <td>98元</td>
          <td>
            <button type="button" class="btn btn-primary" data-toggle="modal">删除</button>
            <button type="button" class="btn btn-primary" data-toggle="modal">修改</button>
          </td>
        </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addOrder">新增订单</button>
    </div>
  </div>
  <!-- 订单end -->
</div><!-- /.container -->


<!-- 增加成员Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">选择成员</h4>
      </div>
      <div class="modal-body">
        <ul class="list-inline">
          <li><input type="checkbox" />&nbsp;张三</li>
          <li><input type="checkbox" />&nbsp;李四</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确认添加</button>
      </div>
    </div>
  </div>
</div>

<!-- 删除成员 Modal -->
<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">删除成员</h4>
      </div>
      <div class="modal-body">
        确认要删除张三吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确认删除</button>
      </div>
    </div>
  </div>
</div>

<!-- 新增订单 Modal -->
<div class="modal fade" id="addOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">新增订单</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>选择</td>
              <td>姓名</td>
              <td>金额</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" /></td>
              <td>张三</td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td>李四</td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td>王二小</td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>付款人</td>
              <td colspan="2"><input type="text" /></td>
            </tr>
            <tr>
              <td>总金额</td>
              <td colspan="2"><input type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">增加</button>
      </div>
    </div>
  </div>
</div>