<div ng-include src=" 'views/user_header.html' "></div>
<div ng-include src=" 'views/warning.html' "></div>

<div class="container">
  <div class="row starter-template">
    <h3>团队信息:</h3>
    <div class="col-md-5">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <input type="text" class="form-control" minlength="1" maxlength="24" placeholder="团队名称" ng-model="group_name">
        </div>
        <div class="form-group">
          <textarea row="3" class="form-control" maxlength="140" placeholder="团队简介" ng-model="group_description"></textarea>
        </div>
        <div class="form-group" ng-show="isOwner">
          <button type="submit" class="btn btn-primary btn-large" ng-click="update_group()">保存</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row starter-template">
    <h3>团队成员:</h3>
    <div class="col-md-5">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>成员昵称</th>
          <th>成员个性签名</th>
          <th>删除成员</th>
        </tr>
        </thead>
        <tbody>
        <tr >
          <td>{{ user.nickname }}</td>
          <td>{{ user.description }}</td>
          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalDelete">删除这个成员</button></td>
        </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">添加成员</button>
    </div>
  </div>
</div><!-- /.container -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">选择成员</h4>
      </div>
      <div class="modal-body">
        <ul class="list-inline">
          <li><input type="checkbox" />&nbsp;张三</li>
          <li><input type="checkbox" />&nbsp;李四</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确认添加</button>
      </div>
    </div>
  </div>
</div>

<!-- delete Modal -->
<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">删除成员</h4>
      </div>
      <div class="modal-body">
        确认要删除张三吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确认删除</button>
      </div>
    </div>
  </div>
</div>