<div ng-include src=" 'views/header.html' "></div>
<div ng-include src=" 'views/flash.html' "></div>

<div class="container">
  <div class="row">
    <h1 class="page-header col-md-12"><span class="glyphicon glyphicon-gift"></span>&nbsp;团队管理</h1>
  </div>
  <div class="row">
    <div class="col-md-12 group">
      <h3 class="page-header">我的团队</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>团队名</th>
            <th>所有者</th>
            <th>权限</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3">还没有加入任何团队</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div><!-- /.container -->
